.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.drag_item {
  max-width: 256px;
  width: 100%;
  padding: 0;
}
.drag_row{
  width: 100%;
  height: 85px;
  border: 1px solid  #a9afb7;
  background: #f5f5f5;
  margin: 10px 0;
}
.column_container {
  width: 100%;
  overflow: auto;
  display: flex;
  margin-top: 30px;
  min-height: 100vh;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.DragContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  border-radius: 4px;
  border: 2px solid #a9afb7;
  padding: 10px 20px;
  min-height: 450px;
  min-width: 300px;
  margin: 10px 40px  ;
}
.DragContainer h3 {
  text-align: center;
}
.drag_item .panel.isDragging{
  border:2px solid #cde7f7;
}
.drag_item .panel.isDragging .panel-body{
  background-color: #cde7f7;
}
.panel-heading {
  display: flex;
  justify-content: space-between;
}
.card_form {
  width: 600px;
  margin-left: 59px;
  margin-top: 15px;
}
.card_form .form-group {
  width: 120px;
  display: inline-block;
  margin: 0 5px;
}
.card_form Button {
    margin-top: -5px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
